 {%extends 'base.html'%}
{%block head%} <title>Signup Page</title>{%endblock%}
 
{%block body%}
<div class="pageborder">
<br>
    <h2>SignIn Page</h2><hr>
    <form action="/" method="get">
         
        <h3>Email</h3>
        <input type="email" name="email" placeholder="Enter your mail......">
        <h3>Password</h3>
        <input type="password" name="password" placeholder="Enter your password......"><br> <br>
       <br>  <button type="button"><a href="/signup">SUBMIT</a></button>
    </form>
</div>

    {%endblock%}