{%extends 'base.html'%}
{%block header%}
    <style>
          #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          display: flex;
          justify-content: center; 
         
        }
        
        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        #customers td{
          text-align: center;
        }
        #customers p{
          color:rgb(226, 36, 36);
          font-weight: bold;
        }
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        
        #customers tr:hover {background-color: #ddd;}
        
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color:lightcoral;
          color: white;
          font-size: 22px;
          text-transform: uppercase;

        }
        .nut-val tr h2{
            color:rgba(10,10,10,0.7);
            font-size: 22px;
        }
        
      </style>
{%endblock%}
{%block content%} 

<h2 style="text-align: center;">Nutrition Content of your food-item</h2>
    <div class="nut-val">
    <table id="customers">
      <tr>
        <th>Nutrition</th>
        <th>Values</th>
      </tr>
      <tr>
        <td><h2>Calories</h2></td>
        <td><p id="demo4"></p></td>
    </tr>
        <tr>
            <td><h2>Fat</h2></td>
            <td><p id="demo"></p></td>
        </tr>
        <tr>
            <td><h2>Carbohydrates</h2></td>
            <td><p id="demo1"></p></td>
        </tr>
        <tr>
            <td><h2>Vitamins</h2></td>
            <td><p id="demo2"></p></td>
        </tr>
        <tr>
            <td><h2>Proteins</h2></td>
            <td><p id="demo3"></p></td>
        </tr>
        
        <tr>
          <td><h2>Saturated Fat</h2></td>
          <td><p id="demo5"></p></td>
        </tr>
        <tr>
          <td><h2>Minerals</h2></td>
          <td><p id="demo6"></p></td>
        </tr>
        <tr>
          <td><h2>Vitamin B12</h2></td>
          <td><p id="demo7">
          </p></td>
        </tr>
    </table>
</div>
<script>
  function generateRandom(min, max) {
  let difference = max - min; 
  let rand = Math.random();
  rand = Math.floor( rand * difference);
  rand = rand + min;
  return rand;
  }
  document.getElementById("demo").innerHTML=generateRandom(30,80)+"g";
  document.getElementById("demo1").innerHTML= generateRandom(60,100)+"g";
  document.getElementById("demo2").innerHTML= generateRandom(40,100)+"g";
  document.getElementById("demo3").innerHTML= generateRandom(13,40)+"g";
  document.getElementById("demo4").innerHTML=generateRandom(250,1000)+"Kcal";
  document.getElementById("demo5").innerHTML= generateRandom(10,400)+"g";
  document.getElementById("demo6").innerHTML= generateRandom(30,200)+"g";
  document.getElementById("demo7").innerHTML= generateRandom(30,600)+"g";
          </script>   
{%endblock%}