{% extends 'base.html' %}
{%block title%}Diet Plans{%endblock%}
{%block header%}
<link rel="stylesheet" href="../static/CSS/style.css">
{%endblock%}
{%block content%}

<div class="main">   
    <div class="container-header">
    <div class="container">
     <div class="box">
       <div class="icon">01</div>
       <div class="content">
         <h3>Mind Diet</h3>
         <p>MIND stands for "Mediterranean-DASH Intervention for Neurodegenerative Delay".The MIND diet combines the 
           Mediterranean diet and the DASH diet to create a dietary pattern that focuses specifically on brain health</p>
          <a href="/readmore">Read more</a>
       </div>
     </div>
     </div>
     <div class="container">
       <div class="box">
         <div class="icon">02</div>
         <div class="content">
           <h3>Vegan Diet</h3>
           <p>The vegan diet restricts all animal products for ethical, environmental, or health reasons.
Veganism is also associated with resistance to animal exploitation and cruelty.In addition to eliminating meat, 
it eliminates dairy, eggs.</p>
           <a href="/readmore">Read more</a>
 
         </div>
       </div>
       </div>
       <div class="container">
         <div class="box">
           <div class="icon">03</div>
           <div class="content">
             <h3>Paleo Diet</h3>
              <p>The paleo diet claims that you should eat the same foods 
               that your hunter-gatherer ancestors ate before agriculture developed.
The paleo diet claims that you should eat the same foods that your hunter-gatherer ancestors ate before agriculture developed.
</p>
             <a href="/readmore">Read more</a>
   
           </div>
         </div>
   </div>
   <div class="container">
     <div class="box">
       <div class="icon">04</div>
       <div class="content">
         <h3>Volumetrics diet</h3>
         <p> The Volumetrics diet was created by Penn State University nutrition professor Barbara 
           Rolls and is meant to be a long-term lifestyle change rather than a strict diet.The eating plan 
           is designed to promote weight loss by fill up on nutrient-dense foods.</p>
       <a href="/readmore">Read more</a>

       </div>
     </div>
      
   </div>
   <div class="container">
     <div class="box">
       <div class="icon">05</div>
       <div class="content">
         <h3>Mayo Clinic Diet</h3>
         <p>The Mayo Clinic Diet was created by the reputable medical organization of the same name.
           Designed to be a lifestyle change over a quick fix, the Mayo Clinic Diet focuses on replacing less healthy behaviors with
            ones that are to support weight loss.
         </p>
          <a href="/readmore">Read more</a>

       </div>
     </div>
      
   </div>
   <div class="container">
     <div class="box">
       <div class="icon">06</div>
       <div class="content">
         <h3>Low carb diets</h3>
         <p>Low carb diets are among the most popular diets for weight loss. Examples include the Atkins diet,
ketogenic (keto) diet, and low carb, high fat (LCHF) diet.Some varieties reduce carbs more drastically than others like keto diets </p>
          <a href="/readmore">Read more</a>

       </div>
     </div>
     </div>
   </div>
 </div>




{%endblock%}