{% extends 'base.html' %}
{%block title%}Know more about diet plans{%endblock%}
{%block header%}
<link rel="stylesheet" href="../static/CSS/style.css">
  
{%endblock%}
{%block content%}
<div class="readmore">
    <div class="content1 " id="mind-diet">
        <h3 class="mt-3 pt-1 fw-bold">The MIND diet</h3>
        <p style="font-size:22px">The Mediterranean-DASH Intervention for Neurodegenerative Delay (MIND) diet combines aspects of the 
            Mediterranean and DASH diets to create an eating pattern that focuses on brain health.</p>
        <h3 class="fw-bold">How it works</h3>
        <p style="font-size:22px">Like the flexitarian diet, the MIND diet does not have a strict meal plan, but instead encourages eating 10 specific foods with brain health benefits.

            Per week, MIND includes eating:
            
            six or more servings of green, leafy vegetables
            one serving of non-starchy vegetables
            five or more servings of nuts
            Other foods it encourages multiple times a week include:
             <ul style="font-size:20px">
                <li>Berries</li>
                <li>Beans</li>
                <li>Olive Oil</li>
                <li>Whole Grains</li>
                <li>Fish</li>
                <li>Poultry</li>
             </ul>
        </p>
        <h3 class="fw-bold">Health benefits</h3>
        <p style="font-size:22px">Research shows that the MIND diet may reduce a person's risk of developing Alzheimer's disease, and studies show that the MIND diet is superior to other plant-rich diets for improving cognition.Research also shows that the MIND diet can help slow cognitive decline and improve resiliency in older adults.It may also help delay the onset of the movement disorder Parkinson's disease.</p>
    </div>
    <div class="content2" id="vegan-diet">
        <h3 class="mt-5 pt-5 fw-bold">The Vegan Diet</h3>
        <p style="font-size:22px">The vegan diet restricts all animal products for ethical, environmental, or health reasons.
            Veganism is also associated with resistance to animal exploitation and cruelty.</p>
        <h3 class="fw-bold">How it works</h3>
        <p style="font-size:22px"> Veganism is the strictest form of vegetarianism.
            In addition to eliminating meat, it eliminates dairy, eggs, and animal-derived products, such as  

             <ul style="font-size:20px">
                <li>Gelatin</li>
                <li>Honey</li>
                <li>Albumin</li>
                <li>Whey</li>
                <li>casein</li>
                <li>some forms of vitamin D3.</li>
             </ul>
        </p>
        <h3 class="fw-bold">Health benefits</h3>
        <p style="font-size:22px"> A vegan diet seems to be very effective at helping people lose weight — often without counting calories — because its very low fat and high fiber content may make you feel fuller for longer.

            Vegan diets are consistently linked to lower body weight and body mass index (BMI) compared to other diets.One 18-week study showed that people on a vegan diet lost 9.3 pounds (4.2 kg) more than those on a control diet. The vegan group was allowed to eat until fullness, but the control group had to restrict calories.</p>
    </div>
    <div class="content3 " id="paleo-diet">
        <h3 class="mt-5 pt-5 fw-bold">The Paleo diet</h3>
        <p style="font-size:22px">The paleo diet claims that you should eat the same foods that your hunter-gatherer ancestors ate before agriculture developed.
The theory is that most modern diseases can be linked to the Western diet and the consumption of grains, dairy, and processed foods.</p>
<h3 class="fw-bold">How it works</h3>
        <p style="font-size:22px"> The paleo diet emphasizes whole foods, lean protein, vegetables, fruits, nuts, and seeds, while discouraging processed foods, sugar, dairy, and grains.

            Some more flexible versions of the paleo diet also allow for dairy
             
             <ul style="font-size:20px">
                <li>cheese</li>
                <li>Butter</li>
                <li>as well as Tubers</li>
                <li>Potatoes</li>
                <li>Sweet potatoes</li>
                
             </ul>
        </p>
        <h3 class="fw-bold">Health benefits</h3>
        <p style="font-size:22px">he diet seems effective at reducing risk factors for heart disease, such as cholesterol, blood sugar, blood triglycerides, and blood pressure</p>
    </div>
    <div class="content4" id="volumetrics-diet">
        <h3 class="mt-5 pt-5 fw-bold">The Volumetrics diet</h3>
        <p style="font-size:22px"> The Volumetrics diet was created by Penn State University nutrition professor Barbara Rolls and is meant to be a long-term lifestyle change rather than a strict diet.</p>
<h3 class="fw-bold">How it works</h3>
        <p style="font-size:22px"> The eating plan is designed to promote weight loss by having you fill up on nutrient-dense foods that are low in calories and high in water.
 Meanwhile, it limits calorie-dense foods 
             <ul style="font-size:20px">
                <li>cookies</li>
                <li>candies</li>
                <li>nuts</li>
                <li>calorie-dense foods</li>
             </ul>
        </p>
        <h3 class="fw-bold">Health benefits</h3>
        <p style="font-size:22px">The Volumetrics diet encourages nutritious foods that are low in calories but high in fiber, vitamins, and minerals, which may help increase your intake of key nutrients and protect against nutritional deficiencies.

            Research also links diets with a low calorie density to improved diet quality.</p> </div>
            <div class="content5" id="mayo-clinic-diet">
                <h3 class="mt-5 pt-5 fw-bold"> The Mayo Clinic Diet</h3>
                <p style="font-size:22px"> The Mayo Clinic Diet was created by the reputable medical organization of the same name.</p>
                <h3 class="fw-bold">How it works</h3>
                <p style="font-size:22px">Designed to be a lifestyle change over a quick fix, the Mayo Clinic Diet focuses on replacing less healthy behaviors with ones that are more likely to support longevity and weight loss.

                    Rather than banning certain foods, the Mayo Clinic Diet uses a pyramid to encourage exercise and illustrate quantities of foods you should be consuming.
                    
                    Fruits, vegetables, and physical activity make up the base of the pyramid, followed by carbs in the next layer.
                    
                     <ul style="font-size:20px">
                        <li>proteins</li>
                        <li>dairy</li>
                        <li>fats</li>
                        <li>sweets</li>
                     </ul>
                </p>
                <h3 class="fw-bold">Health benefits</h3>
                <p style="font-size:22px">he diet seems effective at reducing risk factors for heart disease, such as cholesterol, blood sugar, blood triglycerides, and blood pressure</p>
            </div>




            <div class="content6 " id="low-carbs-diet">
                <h3 class="mt-5 pt-5 fw-bold"> Low-Carb Diets</h3>
                <p style="font-size:22px">Low-carb diets have been popular for decades — especially for weight loss.

                    There are several types of low-carb diets, but all involve limiting carb intake to 20-150 grams per day.
                    
                    The primary aim of the diet is to force your body to use more fats for fuel instead of using carbs as a main source of energy.</p>
                      <h3 class="fw-bold">How it works</h3>
                <p style="font-size:22px">  Low-carb diets emphasize unlimited amounts of protein and fat while severely limiting your carb intake.

                    When carb intake is very low, fatty acids are moved into your blood and transported to your liver, where some of them are turned into ketones.
                </p>
                <h3 class="fw-bold">Health benefits</h3>
                <p style="font-size:22px">Low-carb diets tend to reduce your appetite and make you feel less hungry, leading to an automatic reduction in calorie intake .
                    Furthermore, low-carb diets may benefit many major disease risk factors, such as blood triglycerides, cholesterol levels, blood sugar levels, insulin levels, and blood pressure  </p> </div>
 </div>
{%endblock%}